<div class="section">
  <button (click)="logout()">Logout</button>
  <div class="header">
    <h1>My Trips</h1>
    <div>
      <button *ngIf="!addTripForm" (click)="toggleNewTripForm()">Add Trip</button>
      <div *ngIf="addTripForm">
        <input [(ngModel)]="newTripBody.name" placeholder="Trip Name" />
        <button (click)="addTrip()">Submit</button>
        <button (click)="toggleNewTripForm()">Cancel</button>
      </div>
    </div>
  </div>
  <div *ngIf="tripList && tripList.length > 0">
    <p style="text-align: center">(Click For Details)</p>
    <ul>
      <li *ngFor="let trip of tripList" (click)="getTripDetails(trip._id)">
        <span>{{trip.name}}</span>
      </li>
    </ul>
  </div>
  <div *ngIf="tripList && tripList.length === 0">
    <p>You have no trips yet!  Click <span>Add Trip</span> to start splitting expenses.</p>
  </div>
</div>

<div *ngIf="tripDetails" class="section">
  <div class="header">
    <h1>{{myMemberData.name}}'s {{tripDetails.name}} Trip Details</h1>
    <button (click)="getTripDetails(tripDetails._id)">Reload Trip Data</button>
    <h3>Total Expenses: ${{tripDetails.total_expense}}</h3>
  </div>
  <div class="trip-detail-section">
    <div class="header">
      <h2>Other Trip Members</h2>
      <div>
        <button *ngIf="!addPersonForm" (click)="toggleAddPersonForm()">Add Person To Trip</button>
        <div *ngIf="addPersonForm">
          <input [(ngModel)]="newMemberBody.name" placeholder="Enter Person Name">
          <button (click)="addPerson()">Submit</button>
          <button (click)="toggleAddPersonForm()">Cancel</button>
        </div>
      </div>
    </div>
    <ul *ngIf="tripDetails.members.length > 1">
      <div *ngFor="let member of tripDetails.members">
        <li *ngIf="member.name !== myMemberData.name">
          <h4>{{member.name}}</h4>
          <p>Has expensed: <span>${{member.total_expense}}</span></p>
          <div *ngIf="member.transactions.length > 0">
            <p *ngFor="let trans of member.transactions">Owes <span>{{trans.to === myMemberData.name ? 'YOU' : trans.to}}</span> <span> ${{trans.amount}}</span></p>
          </div>
        </li>
      </div>
    </ul>
    <p *ngIf="tripDetails.members.length <= 1">No other members. Click <span>Add Person To Trip</span> to split expenses with them.</p>
  </div>
  <div class="trip-detail-section">
    <div class="header">
      <h2>My Expenses</h2>
      <div>
        <button *ngIf="!tripComplete" (click)="toggleTripComplete()">Done With Expenses</button>
        <button *ngIf="tripComplete" (click)="toggleTripComplete()">I Have More Expenses!</button>
        <button *ngIf="!addExpenseForm && !tripComplete" (click)="toggleAddExpenseForm()">Add Expense</button>
        <div *ngIf="addExpenseForm">
          <input currencyMask [(ngModel)]="newExpenseBody.amount" placeholder="Enter Expense Amount">
          <button (click)="addExpense()">Submit</button>
          <button (click)="toggleAddExpenseForm()">Cancel</button>
        </div>
      </div>
      <h4>Total: ${{myMemberData.total_expense}}</h4>
    </div>
    <ul>
      <li *ngFor="let expense of myMemberData.expenses">
        <span>${{expense.amount}}</span>
      </li>
    </ul>
  </div>
  <div *ngIf="myMemberData.transactions.length > 0" class="trip-detail-section">
    <div class="header">
      <h2>Payments Due <span *ngIf="!tripComplete">(Projected... Waiting For Everyone to be Done With Expenses)</span></h2>
    </div>
    <ul>
      <li *ngFor="let transaction of myMemberData.transactions">
        <span>Send {{transaction.to}} </span>
        <span>${{transaction.amount}}</span>
      </li>
    </ul>
  </div>
</div>
